.fondo{
background-image: url("https://i.pinimg.com/originals/b1/d5/5d/b1d55db566173366b2889dd2305b6475.jpg");
padding: 5%;
text-align: center;
margin: auto;
}


.encabezado{
border: solid 3px;
color: black;
font-family: 'Verdana';
background: rgba(255, 128, 0, 0.5);
font-variant: small-caps;
}


.lista{
font-family: 'Verdana';
border: solid 3px;
border-spacing: 10;
border-color: black;
list-style-position: inside;
padding: 2%;
background: rgba(255, 128, 0, 0.5);
}

.titulos{
font-family: 'Verdana';
border: solid 3px;
padding: 2%;
background: rgba(255, 128, 0, 0.5);
font-variant: small-caps;
}

.formulario{
font-family: arial;
font-style: oblique;
}

.campos-form{
background: rgba(255, 128, 0, 0.3);
}


.tabla, td{
font-family: 'Verdana';
font-variant: small-caps;
border: solid 2px black;
padding: 3%;
margin: auto;
}

.td{
border: solid 2px black;
background: rgba(255, 128, 0, 0.3);
}

.contenedor-imagen:hover
.imagen {-webkit-transform:scale(1.2);transform:scale(1.2);
transition:all .5s ease-in-out;
}
.contenedor-imagen{
overflow:hidden;}

.boton1{
border: 1px;
border-style: inset;
border-radius: 5px;
background-color: white;
}

.boton2{
border: 1px;
border-style: inset;
background: rgba(255, 128, 0, 0.3);
border-radius: 5px;
}

.logo{
height: 20px;
width: 20px;
}

.boton3{
background: rgba(255, 128, 0, 0.3);
border: 1px;
border-radius: 5px;
padding: 2.5px;
}

.imagen{
text-align: center;
}
